Source: newshound
Section: web
Priority: extra
Maintainer: David Wendt <dcrkid@yahoo.com>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.4), python-all-dev (>=2.3.5-11), python-support (>=0.5.3)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/newshound.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/newshound.git;a=summary

Package: python-newshound
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2 (>=2.12)
Description: Simple news feed aggregation system.
 Integrates with Ayatana messaging menu.
